.form-search{
    background-color: #ffffff;
}

.slide{
    height: -webkit-fill-available;
}

#js-app-seach-input{
    display: none;
}

.is-active {
    display: block !important;
}

.not-active {
    display: none !important;
}

.button-search-down {
    margin: 20px 0;
}

.button-loading {
    margin-left: 100px;
}

.is-loading{
    opacity: 0.4;
    pointer-events: none;
}

#js-message{
    display: none;
}

#footer {
    background-color: #262626 !important;
}

.nav-icon {
    color: #ffff !important;
}

#heart-icon {
    color: #ff1a1a !important;
}

.text-footer {
    color: #fff;
}

.section-content-img{
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 15px 93px -13px rgba(0,0,0,1);
    -moz-box-shadow: 2px 15px 93px -13px rgba(0,0,0,1);
    box-shadow: 2px 15px 93px -13px rgba(0,0,0,1);
    box-sizing: border-box;
}

section, .uk-container {
    padding: 50px 10px;
}

.text-content-ident {
    text-indent: 30px;
}

.background-img-1{
    background-image: url(../img/d67qwdtqw6dt.jpeg);
}

.background-img-2{
    background-image: url(../img/8d8wksos2i3kwg.jpeg);
}

.background-img-3{
    background-image: url(../img/iahe7d78so2l.jpeg);
}

.background-img-4{
    background-image: url(../img/usjwkausj83k.jpeg);
}
